# Python
*.py[co]
*.so
.DS_Store

# Build related
*.egg
*.egg-info
dist
eggs
parts
bin
var
sdist
lib
lib64
web/
env/
develop-eggs
pip-log.txt
npm-debug.log
docs/_build
docs/modules
node_modules
.pip_download_cache
.sass-cache

# Testing related
.cache

# Editors
.mr.developer.cfg
.project
.pydevproject
.idea
.ropeproject

# Project specific
src/nasa/settings.py