html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

nav {
  background-color: #393939;
  width: 100%;
  height: 60px; }
  nav a {
    color: #fff;
    text-decoration: none; }
  nav .nav-title {
    float: left;
    font-size: 20px;
    height: 60px;
    padding-top: 20px;
    padding-left: 16px;
    padding-right: 16px; }
  nav .nav-items {
    float: left; }
    nav .nav-items li {
      display: block;
      float: left;
      height: 100%;
      position: relative; }
      nav .nav-items li.active {
        background-color: #1a75ba; }
      nav .nav-items li a {
        display: block;
        padding: 24px 16px 22px 16px; }

#content {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box; }
  #content .map-options, #content .map-actions {
    margin-bottom: 8px; }
    #content .map-options button, #content .map-actions button {
      background-color: #f6f6f6;
      border: 1px solid #d3d4d6;
      border-radius: 6px;
      color: #666672;
      font-size: 0.8rem;
      height: 35px;
      margin-right: 8px;
      padding-left: 16px;
      padding-right: 16px;
      -webkit-appearance: none; }
    #content .map-options #show-flyovers, #content .map-actions #show-flyovers {
      margin-top: 16px;
      margin-right: 0px;
      margin-bottom: 16px; }
  #content .map-errors {
    color: red;
    padding-top: 8px;
    padding-bottom: 8px; }
  #content .controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); }
  #content #search-input {
    display: none;
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px; }
  #content #search-input:focus {
    border-color: #4d90fe; }

#map {
  height: 300px; }

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px; }

nav {
  color: #fff; }

h1, h2 {
  margin: 16px 0px 8px 0px; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.5rem; }

p {
  line-height: 1.5;
  margin-bottom: 8px; }

/*# sourceMappingURL=styles.css.map */
